<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <div>
        <h1>Notificacion de aviso de gasto!</h1>
        <p>Buenas,</p>
        <p>Este es un recordatorio de que superaste $5000 en proyectos:</p>
        <table>
            <tr>
                <td><strong>Gastado:</strong></td>
                <td>{{balance}}</td>
            </tr>
            <tr>
                <td><strong>Usuario:</strong></td>
                <td>{{userName}}</td>
            </tr>
        </table>
        <p>Saludis,</p>
        <p><strong>Splitify</strong></p>
    </div>
</body>

</html>